@using WEB_NETCORE_SACHS.Models;
@model List<NhaXuatBan>
<link href="~/css/css/menutrai.css" rel="stylesheet" />
<div class="menu">
	<ul>

		@foreach (var p in Model)
		{
		<li> <a asp-controller="Saches" asp-action="SachTheoNXB" asp-route-MaNXB="@p.MaNxb">@p.TenNxb</a></li>
		}

	</ul>
</div>